nav {
  background: #1c262f;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
  z-index: 10;
  transition: all .3s;
}

nav.collapsed {
  left: -200px;
}

main {
  padding-left: 200px;
  transition: all .3s;
}

main.collapsed {
  padding-left: 0px;
}
